<nav class="navbar sticky-top navbar-dark bg-dark">
	<div class="container">
		<img class="smalllogo" src="/img/SAlogo1.png">
		<a class="navbar-brand" href="/">SoundStore</a>
		<form class="form-inline my-2 my-lg-0">
      			<!--<input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
				<button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    	</form>
		<a href="/order/cart">
		<img class="smalllogo" src="/img/cartimg.png" >
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
				  aria-expanded="false"
				  aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/newsletter">Newsletter</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				{{#if user}}
					<li class="nav-item">
						<a href="/product/optionPage" class="nav-link">Products Management</a>
					</li>
					<li class="nav-item">
						<a href="/Delivery/listDelivery" class="nav-link">Delivery Management</a>
					</li>
					<li class="nav-item">
						<a href="/user/displayUsers" class="nav-link">Account Management</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="nav-link">Logout</a>
					</li>	

				{{else}}
					<li class="nav-item">
						<a href="/showLoginUser" class="nav-link">Login</a>
					</li>
					<li class="nav-item">
						<a href="/showRegisterUser" class="nav-link">Register</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>
