<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/SAlogo1.png">
			<h3 class="text-center">Subscribe to newsletter</h3>
			<p>Subscribe to Sound Store to get the latest updates and promotions!</p>
			<form method="post" action="/newsletter"> 
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" value={{email}} required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<p>By signing up, you agree to receive our emails and promotions.</p>
			</form>
		</div>
	</div>
</div>
