.logo{
    width:130px;
    margin:auto;
  }
.smalllogo{
  width: 40px;
  height: 40px;
}

#searchBar {
  margin-left: 10px;
}

#searchBtn {
  color:white;
}

#price {
  width: 200px;
}

.custom-select{
  width: 197px;
}

#quantity {
  width: 100px;
}