.logo{
    width:130px;
    margin:auto;
  }
.smalllogo{
  width: 40px;
  height: 40px;
}

#searchBar {
  margin-left: 10px;
}

#searchBtn {
  color:white;
}

#price {
  width: 200px;
}

.custom-select{
  width: 197px;
}

#quantity {
  width: 100px;
}


/* Reset */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
/* Main Styles */
.button {
  display: block;
  background-color: #6495ED;
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span,
.button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span:after {
  content: '';
  background-color: #FFEBCD;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button .icon .fa-remove {
  height: 36px;
}
.button .icon .fa-check {
  display: none;
}
.button.success span, .button:hover span {
  left: -72%;
  opacity: 0;
}
.button.success .icon, .button:hover .icon {
  width: 100%;
}
.button.success .icon .fa, .button:hover .icon .fa {
  font-size: 45px;
}

.button.success .icon .fa-remove {
  display: none;
}
.button.success .icon .fa-check {
  display: inline-block;
}
.button:hover {
  opacity: .9;
}
.button:hover .icon .fa-remove {
  height: 46px;
}
.button:active {
  opacity: 1;
}



/*FOR optionPage Buttons*/
.button2 {
  display: block;
  background-color: black;
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: relative;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button2 span,
.button2 .icon2 {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.button2 span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button2 span:after {
  content: '';
  background-color: #FFEBCD;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button2 .icon2 {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button2 .icon2 .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button2 .icon2 .fa-remove {
  height: 36px;
}
.button2 .icon2 .fa-check {
  display: none;
}
.button2.success span, .button2:hover span {
  left: -72%;
  opacity: 0;
}
.button2.success .icon2, .button2:hover .icon2 {
  width: 100%;
}
.button2.success .icon2 .fa, .button2:hover .icon2 .fa {
  font-size: 45px;
}

.button2.success .icon2 .fa-remove {
  display: none;
}
.button2.success .icon2 .fa-check {
  display: inline-block;
}
.button2:hover {
  opacity: .9;
}
.button2:hover .icon2 .fa-remove {
  height: 46px;
}
.button2:active {
  opacity: 1;
}


/**/

.card border-primary mb-2 w-100 mx-auto{
  color: aquamarine;
}

#addTitle{
  color: aquamarine;
}