<div class="container">
	<div class="card card-body">
		<h3>Edit</h3>
		<form action="/user/saveEditedUser/{{id}}" method="post">
			
			<div class="form-group">
				<label class="font-italic" for="description">Name</label>
				<input class="form-control" id="name" name="name" value="{{name}}"></input>
			</div>
		</div>
			<br>
			<button id="butAddVideo" type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>