<style>
	
</style>
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/SAlogo1.png">
			<h3 class="text-center">Forgot Password</h3>
			<p>Enter your email here! We will check if the email is on our end!</p>
			<form method="post" action="/user/forgotPassword"> 
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
