<style>
	
</style>
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/SAlogo1.png">
			<h3 class="text-center">Additional Details</h3>
			<form method="post" action="/user/saveDetails" > 
			<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="ContactNo">Contact Number</label>
					<input type="ContactNo" name="ContactNo" class="form-control" required>
				</div>
                <div class="form-group">
					<label for="SecurityQn">Security Questioon</label>
					<input type="SecurityQn" name="SecurityQn" class="form-control" required>
				</div>
                <div class="form-group">
					<label for="SecurityAnswer">Security Answer</label>
					<input type="SecurityAnswer" name="SecurityAnswer" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<p>Signed up?<a href='/'>Click here!</a></p>
			</form>
		</div>
	</div>
</div>
