<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/SAlogo1.png">
			<h3 class="text-center">Account Login</h3>
			<form method="post" action="/user/loginUser"> 
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<p>Forgot Password?<a href='/showForgotPassword'>Click here!</a></p>
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
				<script src="https://apis.google.com/js/platform.js" async defer></script>
				<meta name="google-signin-client_id" content="633151802088-au8g5atiipjdddkc9q4aqt1o22teti3h.apps.googleusercontent.com">
			</form>
		</div>
	</div>
</div>
