<style>
	.googlebtn{
  background-color: #dd4b39;
  color: white;
   border: 1px solid green;
    text-align: center;
	}
	.fab fa-goole{
		  left:1000px;
		  color:black;
	}
	#googlebutton{
		color:white;
		text-align: center;	
	}
	#forgot{
		text-align: center;
	}
	#options{
		text-align: center;
	}
	#forgot{
		 position: absolute;
  		top: 375px;
  		right: 10px;
	}
</style>
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/SAlogo1.png">
			<h3 class="text-center">Account Login</h3>
			<form method="post" action="/user/loginUser"> 
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<br>
				 <a id="forgot" href='/showForgotPassword'>Forgot Password?</a>
				<p id="options"> OR </p>
				<button type="button" class="googlebtn"><a href="/user/google" id="googlebutton"><i class="fab fa-google"></i>LOGIN WITH GOOGLE</a></button>
			</form>
		</div>
	</div>
</div>
