 <style>
	
</style>
 <div class="container">
	<div class="card card-body">
		<h3>Edit</h3>
		<form action="/user/savePassword" method="post">
				<div class="form-group">
					<label for="name">Enter Name that is registered within account:</label>
					<input type="name" name="name" class="form-control" required>
				</div>
			<div class="form-group">
					<label for="password2">Enter new password</label>
					<input type="password"  name="password" class="form-control" value="{{password}}" required>
				</div>
            <div class="form-group">
					<label for="password2">Confirm Password</label>
					<input type="password"  name="password2" class="form-control" value="{{password2}}" required>
				</div>
		</div>
			<br>
			<input type="hidden" value="{{email}}" name="email" id="email">
			<button id="butAddVideo" type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>