<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    

</head>
<style>
title{
    text-align:center;
}

.total{
    float:right;
    padding-top:50px;
    padding-right:50px;
}
#pay{
    float:right;

    padding-right:50px;
}

h1{font-weight:bold;
font-size:20px;
}
th{
  padding: 70px;
  border: collapse;
  border-left: 0px none;
  border-right: 0px none;
  border-top: 0px none;
}
tr{
  text-align: center;
  border: collapse;
}
td
{
border-left: 0px none;
border-right: 0px none;
border-top: 0px none;
border-bottom: 0px none;
}

</style>

<body>
<h1>Shopping Cart</h1>
<table  align="center" border="1">
<tr>
  <th>Product</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Remove</th>
  <th>Total</th>
</tr>
  <br>
    <!--This is a comment. Comments are not displayed in the browser -->
    


</tr>
    </table>


<div class="total">
    <div class="total-item">
        <label class="Bottomlabel">Subtotal:</label>
        <div class="total1" id="cart-subtotal">$</div>
    </div>
    <div class="shipping">
        <label class="Bottomlabel">Shipping Fee:</label>
        <div class="Shipping-total" id="shipping">$10</div>
    </div>
    <div class="total-cost">
        <label class="Bottomlabel">Total Price:</label>
        <div class="finalprice" id="final">$</div>

    </div>
    <a href="/order/address">
    <button id="pay" class="btn btn-primary shop-item-button" type="Submit" >Proceed to payment</button>
        </a>
</div>



</body>