<style>

</style>


<form action="/order/cart" method="get">
<div class="form-group">
			<label for="quantity">Quantity:</label>
<select id="quantity" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>

<button id="updatequan" type="submit" class="btn btn-primary">Save</button>

</form>