
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/SAlogo1.png">
			<h3 class="text-center">Payment</h3>
			<div class="accordion" id="storyAccordion">
					<div class="card-header" id="headingOne">
						<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne"
						>
							Credit/Debit Card<i class="fas fa-chevron-down"></i>
						</button>

					</div>

					<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
						 data-parent="#storyAccordion"
					>		
						<div class="card-body">
			<form action="/order/confirmation" method="post">
				<div class="form-group">
					<label for="name">Credit Card Number</label>
					<input type="text" class="form-control" name="name" value="" required>
				</div>
				<div class="form-group">
					<label for="email">Name On Card</label>
					<input type="text" name="email" class="form-control" value="" required>
				</div>
				<div class="form-group">
					<label for="password">Expiration Date of Card</label>
					<input type="text"  name="password" class="form-control" value="" required>
				</div>
				<div class="form-group">
					<label for="password2">Security Number</label>
					<input type="text"  name="password2" class="form-control" value="" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		
	</div>
</div>
<div class="accordion" id="storyAccordion">
					<div class="card-header" id="headingOne">
						<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne">
							Paypal<i class="fas fa-chevron-down"></i>
						</button>

					</div>

					<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
						 data-parent="#storyAccordion">		
						<div class="card-body">




    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=SGD"></script>

    <script>	
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
		
            
			
			
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:"{{total}}"
                        }
                    }]
                });
            },
			
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
	

    
						</div>
					
</div>

