<style>
.class{
	text-align: center;
}

</style>



<h3 class="text-center">Payment</h3>
<div style="text-align: center;">
<img class="logo" src="/img/SAlogo1.png">
</div>
<div class="rows"style="width:800px; float:left;" id="card">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">

						
			<h3>Debit/Credit Card payment</h3>			
			<form action="/order/confirmation" method="post">
				<div class="form-group">
					<label for="name">Credit Card Number</label>
					<input type="text" class="form-control" name="name" value="" required>
				</div>
				<div class="form-group">
					<label for="email">Name On Card</label>
					<input type="text" name="email" class="form-control" value="" required>
				</div>
				<div class="form-group">
					<label for="password">Expiration Date of Card</label>
					<input type="text"  name="password" class="form-control" value="" required>
				</div>
				<div class="form-group">
					<label for="password2">Security Number</label>
					<input type="text"  name="password2" class="form-control" value="" required>
				</div>
				
			</form>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body"style="width:300px; float:right;">

	<h3>Paypal</h3>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=SGD"></script>

    <script>	
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
		
            
			
			
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:"{{total}}"
                        }
                    }],
				redirect_urls: {
          			return_url: 'http://localhost:5000/order/confirmation',
       
        			}
                });
            },
			
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
	
		</div>
    
	</div>
					
</div>
<div style="padding-top:100px;padding-right:150px;">
<form action="/order/confirmation" method="post">
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>