<!--
<div class="container2">
	<div class="card card-body">
		<h3>Add Product</h3>
		<form action="/product/addProducts" method="post" id="addVideo" enctype="multipart/form-data">
			<div class="form-group">
				<input id="file" type="file" name="productImage" accept="image/png, image/jpeg" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
				<img id="blah" width="500" height="250" />
				<div id="preview">
    				<div> <span class="productTitle" id="preview1"></span></div><br/>
    				<div> <span class="price" id="preview2"></span></div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="font-italic" for="productTitle">Product Title</label>
				<textarea class="form-control" id="productTitle" name="productTitle" rows="1"></textarea>
			</div>

			<div class="form-group mb-4">
				<label class="font-italic" for="description">Description</label>
				<textarea class="form-control" id="description" name="description" rows="7"></textarea>
			</div>
	
			<div class="form-group">
				<div class="row mb-2">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
						<label id="Date of Release" class="font-italic">Release Date</label>
						<input id="datepicker" width="200" name="dateRelease">
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-6">
						<label id="language" class="font-italic">Type</label>
						<br>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="type" id="headphones" value="Headphones" checked >
							<label class="form-check-label" for="headphones">Headphones</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="type" id="headset" value="Headset" >
							<label class="form-check-label" for="headset">Headset</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="type" id="earbuds" value="Earbuds">
							<label class="form-check-label" for="earbuds">Earbuds</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="type" id="earpiece" value="Earpiece">
							<label class="form-check-label" for="earpiece">Earpiece</label>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<label id="brand" class="font-italic">Brand</label>
						<br>
						<select class="custom-select" name="brand">
							<option selected>Choose a Brand</option>
							<option value="Sony">Sony</option>
							<option value="Beats by Dre">Beats by Dre</option>
							<option value="Sennheiser">Sennheiser</option>
							<option value="Razer">Razer</option>
						</select>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<label id="price" class="font-italic">Price</label>
						<br>
						<textarea class="form-control" id="price" name="price" rows="1" width="10px"></textarea>
					</div>
				</div>

			</div>
			<br>
			<button id="butAddVideo" type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>
 -->



<div class="contain">
<div class="form">
<form action="/product/addProducts" method="post" id="addVideo" enctype="multipart/form-data">
  <div class="wrapper">
    <div class="contacts">
      <h3>Preview</h3>

      <input id="file" type="file" name="productImage" accept="image/png, image/jpeg" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
	  <img id="blah" width="400" height="350" />
    </div>

    <div class="form">
      <h3>Product Details</h3>
        <p>
          <label for="ProductTitle">Product Title</label>
          <textarea type="text" name="productTitle" class="addProductText" rows="1" required></textarea>
        </p>
		<br>

        <p>
          <label for="">Price</label>
          <textarea type="text" style="width: 150px;" name="price" class="addProductText" rows="1" required></textarea>
        </p>

		<br>
		<label id="language" >Type</label>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="type" id="headphones" value="Headphones" checked >
				<label class="form-check-label" for="headphones">Headphones</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="type" id="headset" value="Headset" >
				<label class="form-check-label" for="headset">Headset</label>
			</div>
		    <div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="type" id="earbuds" value="Earbuds">
				<label class="form-check-label" for="earbuds">Earbuds</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="type" id="earpiece" value="Earpiece">
				<label class="form-check-label" for="earpiece">Earpiece</label>
			</div>
					
		
        <p class="full-width">
			<br>
          <label for="">Description</label>
          <textarea  cols="30" rows="7" name="description" class="addProductText"></textarea>
        </p>

		<label id="brand" >Brand</label>
			<select class="custom-select" name="brand">
				<option selected>Choose a Brand</option>
				<option value="Sony">Sony</option>
				<option value="Beats by Dre">Beats by Dre</option>
				<option value="Sennheiser">Sennheiser</option>
				<option value="Razer">Razer</option>
			</select>
			<br>

		<br>
		<label id="Date of Release" class="font-italic">Release Date</label>
		<input id="datepicker" width="200" name="dateRelease">
			

        <p class="full-width">
			<br>
          <button id="butAddVideo" type="submit" class="btn btn-primary">Add Product</button>
        </p>
      </form>
    </div>
  </div>
</div>











<script>
		$('#datepicker').datepicker({
			format: 'dd/mm/yyyy',
			value: new Date().toLocaleDateString('EN-SG'),
			uiLibrary: 'bootstrap4',
		});
</script>


<script>
	$(document).ready(function() {
		$('.mdb-select').materialSelect();
	});
</script>

<script>
   $('.form-control').keyup(function(){
   	var $this = $(this);
   	$('.'+$this.attr('id')+'').html($this.val());
   });
</script>

