<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->


<div class="container">
	<div class="card">
		<img src="../../public/uploads/logo.png" alt="Denim Jeans" style="width:100%">
		<h1>Tailored Jeans</h1>
		<p class="price">$19.99</p>
		<p>Some text about the jeans..</p>
		<p><button>Add to Cart</button></p>
	</div>

</div>
	<h3>No products listed</h3>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
	$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#Product ").filter(function() {
		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
	});
</script>

