<div class="container">
    <div id="firstButton">
        <a class="button" href="/product/addProducts" role="button">
            <span>Add Product</span>
            <div class="icon">
                <i class="fa fa-plus"></i>
            </div>
        </a>
    </div>



    <div id="secondButton">
        
        <a class="button2" href="/product/listProducts" role="button2">
            <span>View Products</span>
            <div class="icon2">
                <i class="fa fa-eye"></i>
            </div>
        </a>
    </div>
    <br><br><br>

        




    

</div>

