<div class="container">
	<div class="card card-body">
		<h3>Add Deliveryman</h3>
		<form action="/Delivery/createdeliveryman" method="post" id="adddeliveryman">
			<div class="form-group mb-4">
				<label class="font-italic" for="fname">First name</label>
				<textarea class="form-control" id="fname" name="fname" rows="1"></textarea>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="lname">Last Name</label>
				<textarea class="form-control" id="lname" name="lname" rows="1"></textarea>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="phone">Phone:</label>
				<textarea class="form-control" id="phone" name="phone" rows="1"></textarea>
			</div>
			<br>
			<button id="butAddDeliveryman" type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>
 