
<div class="container">
	<h1>Order Check</h1>
	<div class="row">
		<div class="col-md-5">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src='/uploads/{{delivery.productImage}}'width="120px" height="100px">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
		</div>
		</div>

		<div class="col-md-7">
			<p>{{delivery.dataValues.productTitle}}</p>
			<p>{{delivery.dataValues.productTitle}}</p>

		</div>
		
		<a href="/Delivery/listdeliveryforuser"><button class="btn btn-primary">Back</button></a>
	</div>

</div>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>