<p>Status</p>
<p>{{delivery.status}}</p>
<br>
<a href="/Delivery/update/{{jwttoken}}/Delivering">Delivering</a>
<a href="/Delivery/update/{{jwttoken}}/Reached">Reached</a>
<br>
<p>Address</p>
<p>{{address.address}}</p>